<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <p>
          <b>Welcome to my website!</b> My name is Georgios Ioannou and I am an
          undergraduate student and researcher who is pursuing a BS degree in
          Computer Science at
          <a
            id="ccny"
            href="https://ccny.smartcatalogiq.com/en/2017-2018/undergraduate-bulletin/the-grove-school-of-engineering/department-of-computer-science/computer-science-bachelor-of-science-b-s/"
            ><b><i>The City College of New York</i></b></a
          >. I am an aspiring data scientist who also loves full-stack web app
          development. I am currently actively looking for internships and my
          main goal is to make the world a safer place through code. I am a
          passionate developer but more importantly I am passionate about
          technology.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-1">
        <p>
          <b> Thank you very much for visiting my website! </b>
          I will be more than happy to work on a project with you! Please do not
          hesitate to contact me at any time using the form below!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="slogan">
        <h4>Be productive!</h4>
        <h4>Be creative!</h4>
        <h4>Be innovative!</h4>
      </div>
    </div>
    <div class="row">
      <div class="subslogan">
        <h4>Your only limit is you!</h4>
      </div>
    </div>
  </div>
</section>
